.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  padding-bottom: 10px;
  box-shadow: 0px opx 7px black;
}

.price {
  color: grey;
  font-size: 22px;
  padding: 10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
 
}

.card {
  width: calc(33.33% - 10px); 
  margin-bottom: 10px; 
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.card img {
  max-width:  190px;
  height: 200px;
  object-fit: contain;
}
